.container{
    display: flex;
  width: 100%;
    flex-wrap: wrap;
  margin-top: -3vh;

}
.container a {
    height: 100%;
}
.card{
    
    margin: 1.5vw;
    inline-size: min-content;


}
.card img{
    object-fit: contain;
}


.card h5{
   width: 400px;
   font-size: 1vw;
   
}
.otherButton{
  padding: 3vw 1.5vw;
  font-size: 1vw;
}
.otherButton:hover{
  text-decoration: underline;
}