.container{
    display: flex;
  width: 100%;
    flex-wrap: wrap;
  margin-top: -3vh;

}
.container a {
    height: 100%;
}
.card{
    
    margin: 1.5vw;
    inline-size: min-content;


}
.card img{
    object-fit: contain;
}


.card h5{
   width: 400px;
   font-size: 1vw;
   
}
.otherButton{
  padding: 3vw 1.5vw;
  font-size: 1vw;
}
.otherButton:hover{
  text-decoration: underline;
}

@media (max-width: 700px) {
  .container{
    margin-top: 0;
    margin-left: 2vh;
    align-content: center;
  }
  .card{
    margin: 1vh;
  }
  .card img{
   height: 15vh;
   width: 15vh;
}
.card h5{
  width: 15vh;
  font-size: 1vh;
  
}
.otherButton{
  padding: 2vh 3vh;
    font-size: 2vh;
  }
}