.container{
padding: 1em;
font-size: 2vw;
}
.container h1 {
    padding-bottom: 1vw;
}
.container h5 {
    padding-bottom: 1vw;
}
.container  table tr td{
padding-right: 5vw;
}
.container  table tr th{
    padding-right: 5vw;
    }

    .otherButton{
      padding: 3vw 1.5vw;
        font-size: 1vw;
      }
      .otherButton:hover{
        text-decoration: underline;
      }

      @media (max-width: 700px) {
        .container{
          font-size: 2vh;
        }
        .container h5 {
          margin-top: 1vh;
        }
        .container h1 {
          margin-top: 1vh;
          width: 1.5vh;
   font-size: 2.5vh;

        }
        .container table{
          margin-top: 2vh;
        }
        .otherButton{
          padding: 2vh 2vh;
            font-size: 2vh;
          }
      }