.container{
padding: 1em;
font-size: 2vw;
}
.container h1 {
    padding-bottom: 1vw;
}
.container h5 {
    padding-bottom: 1vw;
}
.container  table tr td{
padding-right: 5vw;
}
.container  table tr th{
    padding-right: 5vw;
    }

    .otherButton{
      padding: 3vw 1.5vw;
        font-size: 1vw;
      }
      .otherButton:hover{
        text-decoration: underline;
      }